#playFlashcardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50vw;
  height: 55vh;
  align-items: center;
}

#switchFlashcardContainer {
  display: flex;
  justify-content: space-between;
  background-color: #E4CCFF;
  border-radius:20px;
  width: 100%;
}

.switchButton {
  border: none;
  background-color: #E4CCFF;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.switchButton:hover {
  cursor: pointer;
  background-color: #6C3DAB;
  color: white;
}

#activeFlashcardContainer {
  width: 100%;
  height: 100%;
  background-color: #E4CCFF;
  border-radius: 20px;
  transition: width 300ms;
}

.hidden {
  visibility: hidden;
}

#activeFlashcardContainer:hover {
  cursor: pointer;
}

.question {
  position: absolute;
  text-align: center;
}

.answer {
  position: absolute;
  text-align: center;
}

.flip {
  display: none;
}

#questionAnswerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  font-family: "ManropeBold";
}

#questionAnswerContainer h1 {
  font-size: 20px;
  width: 45%;
}

#subjectNameContainer {
  display: flex;
  justify-content: space-around;
  font-family: "ManropeRegular";
}

.FLIPimage {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-top: 200px;

}