<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../playFlashcards/playFlashcards.css">
  <title>Document</title>
</head>
<body>

  <main id="wrapper"></main>

  <script src="containers/activeFlashcardContainer.js"></script>
  <script src="containers/playFlashcardsContainer.js"></script>
  <script src="containers/switchFlashcardContainer.js"></script>
  <script src="../../../logic/fetcher.js"></script>
  <script src="../../../logic/state.js"></script>
  <script src="playFlashcards.js"></script>
  
</body>
</html>