<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="../navBar/navContainer.css">
    <link rel="stylesheet" href="flashcards.css">
    <title>Document</title>
</head>
<body>
    <main id="wrapper"></main>

    <script src="../navBar/navContainer.js"></script>
    <script src="../../logic/fetcher.js"></script>
    <script src="../../logic/state.js"></script>
    <script src="flashcards.js"></script>
</body>
</html>