<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="editFlashcards.css">
</head>
<body>

    <main id="wrapper"></main>

    <script src="../editFlashcards/ContainerLeft/ContainerLeft.js"></script>
    <script src="../editFlashcards/ContainerRight/ContainerRight.js"></script>
    <script src="../editFlashcards/ContainerRight/editActiveFlashcardContainer.js"></script>
    <script src="../playFlashcards/containers/switchFlashcardContainer.js"></script>
    <script src="../editFlashcards/editFlashcards.js"></script>
    <script src="../../../logic/fetcher.js"></script>
    <script src="../../../logic/state.js"></script>
    <script src="../playFlashcards/playFlashcards.js"></script>
    <script src="../editFlashcards/ControlsFlashcards/ControlsFlashcards.js"></script>
</body>
</html>