#container-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 55vw;
  height: 65vh;
}

#editActiveFlashcardContainer {
  height: 100%;
  background-color: #E4CCFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 20px;
}

.subjectNameContainer {
  display: flex;
  justify-content: space-between;
}

.nameSubject {
  background-color: #F8F8F8;
  border: none;
  padding: 20px;
  border-radius: 10px;
  height: 0.3vh;

}

.nameSubject:focus {
  outline: none;
}

#container-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 50vh;
  justify-content: space-around;
  padding: 20px;
}

.controlsButton {
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: #F8F8F8;
  font-weight: bold;
  font-size: 20px;
}

.controlsButton:hover {
  cursor: pointer;
}

#flashcardsSaveButton {
  background-color: #E4CCFF;
  color: black;
}

#flashcardsAddButton {
  background-color: #5BCB74;
}

#flashcardsDeleteButton {
  background-color: #CB5B5B;
}

.editInput {
  background-color: #F8F8F8;
  border: none;
  padding: 20px;
  width: 25vw;
  border-radius: 10px;
}

.editInput:focus {
  outline: none;
}

.postInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}